<div style="padding:350px;">
<md-card class="" style="height: 420px;z-index :2;">
<div style= " font-size: large;font-weight: bold;">
Please enter the Blog details you want to add 
</div>
  <md-card-header *ngIf="invalid" class="invalid">
    <md-card-title class="invalid_title">Sorry! Wrong Credentials</md-card-title>
  </md-card-header>
  <div class="login_form">
	<tr>
	<td>
	<md-input-container>
	  <input md-input placeholder="Title" [(ngModel)]="blog.title" required>
	</md-input-container>
	</td>
	</tr>

	<tr>
	<td>
	<md-input-container>
	  <input md-input placeholder="Information" [(ngModel)]="blog.info" required>
	</md-input-container>
	</td>
	</tr>

	<tr>
	<td>
	<md-input-container>
	  <input md-input placeholder="Image URL" [(ngModel)]="blog.mainImg" required>
	</md-input-container>
	</td>
	</tr>
	<br>
	<tr > 
			<td>Genre * </td>
			<select name="genre" [(ngModel)]="blog.genre" required>
			  <option value="india">India</option>
			  <option value="tech">Technology</option>
			  <option value="sport">Sport</option>
			  <option value="music">Music</option>
			</select>
		</tr>
		<br>
		<tr>
			<td>Rating *</td>
			<select name="rating"  [(ngModel)]="blog.rating" required>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select>
		</tr>

<br><br>	
<md-card *ngIf="ifGuest" class="guest_card">
	<tr>
	<td>
	<md-input-container >
	  <input md-input placeholder="Guest Email" [(ngModel)]="guestEmail" required>
	</md-input-container>
	</td>
	</tr>
</md-card>
  <button md-raised-button (click)="saveData()">Post</button></div>
</md-card>
{{blog}}
</div>